ButtonsFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 20px;
}

ButtonsFooter Button {
    border-color: #323232;
    border-width: 1px;
    border-radius: 3px;
}

ButtonsFooter Button:focus {
    border-color: #3A79BB;
    border-width: 1px;
}